<h3 id="bulk-upload"> Manual upload! (old)</h3>
<p>Use this form if additional information is required, and the dates aren't being loaded correctly</p>
<p>'Participant id', 'required' 'Comment' and 'source type' are not required for this form and will be filled by default.</p>
<%= render partial: "form" %>
